@import "../../styles/theme.scss";
@import "../../styles/fonts";
@import "../../styles/breakpoints";

.aboutpage {
  margin-top: 4rem;
  height: auto;

  @include mobile {
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: flex-start;
  }
}

.aboutpage_img {
  width: 100%;
  overflow: hidden;
  margin: 2rem 0;

  > img {
    width: 100%;
  }
}
.aboutpage__header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: auto;
  padding: 6rem;

  > p {
    width: 65%;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 3.375rem;

    @include mobile {
      height: auto;
      justify-content: flex-start;
      width: 90%;
      padding: 0;
      align-self: center;
      font-size: 1.5rem;
    }
  }

  @include mobile {
    width: 100%;
    overflow: hidden;
    padding: 0;
    padding-left: 1.25rem;
    height: 25rem;
    margin-top: 1.25rem;
    align-items: flex-start;
  }
}

.aboutpage__body {
  display: flex;
  flex-direction: row;
  gap: 10.25rem;
  padding: 9.313rem 7.5rem 9.313rem 7.5rem;

  @include mobile {
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding: 0;
    gap: 4.5625rem;
    align-items: center;
  }
}
.aboutpage__body__left {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 50%;

  @include mobile {
    width: 90%;
    margin-top: 3rem;
    gap: 2rem;
    align-items: center;
  }

  & h1 {
    font-family: $Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 3rem;
    color: $text;

    @include mobile {
      width: 80%;
      font-size: 1.125rem;
      line-height: 1.7rem;
      text-align: left;
      align-self: flex-start;
    }
  }
  & p {
    font-family: $Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: $text;
  }

  & p.second_text {
    @include mobile {
      margin-top: 0rem;
    }
  }
}
.aboutpage__body__right {
  display: flex;
  width: 30%;
  flex-direction: column;
  gap: 2.813rem;
  padding-top: 0.5rem;

  @include mobile {
    width: 90%;
    margin: 0;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    padding-top: 1.8rem;
  }

  > .aboutpage__icon {
    position: relative;
    border: 0.063rem solid #c5c5c5;
    padding-top: 1.875rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-bottom: 1.25rem;
    border-radius: 0.625rem;
    background-color: $white;

    @include mobile {
      height: auto;
      width: 90%;
      align-items: center;
      padding-left: 0.625rem;
      overflow: visible;
    }

    & p {
      font-family: $Poppins;
      font-style: normal;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.5rem;
      color: $text;
    }
    & img {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(50%, -50%);
    }
  }
}
.aboutpage__us {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  padding-left: 7.5rem;
  padding-right: 7.5rem;
  padding-bottom: 6rem;

  @include mobile {
    align-self: center;
    height: 160vh;
    flex-direction: column;
    align-items: center;
  }

  & .aboutpage__image h2 {
    @include mobile {
      align-self: center;
    }
  }
}
