@import "../../styles/theme.scss";
@import "../../styles/fonts";
@import "../../styles/breakpoints";

.hero {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-image: url("../../assets/Images/others/hero-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  @include tablet {
    background-image: none;
    width: auto;
    height: auto;
    padding-top: 120px;
    background-color: white;
  }
  .available {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #9b9b9b;
    padding: 1rem;
    text-align: center;
  }

  .text-container {
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-left: 2rem;
    @include tablet {
      width: auto;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      gap: 1rem;
    }

    > h1 {
      font-family: $Poppins;
      font-style: normal;
      font-weight: 700;
      font-size: 2.5rem;
      line-height: 60px;
      color: $text;
      @include tablet {
        font-size: 24px;
        line-height: 36px;
      }
    }

    > p {
      font-family: $Poppins;
      font-style: normal;
      font-weight: 400;
      font-size: 1rem;
      line-height: 24px;
      color: $text;
      @include tablet {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
      }
    }

    > .hero__button {
      display: flex;
      width: auto;
      justify-content: center;
      flex-direction: row-reverse;
      align-items: center;
      padding: 10px 20px;
      gap: 10px;
      background: $black;
      border-radius: 5px;
      cursor: pointer;
      align-self: baseline;

      > h3 {
        color: $white;
        font-family: $Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 1rem;
        line-height: 24px;
        flex: none;
        order: 0;
        flex-grow: 0;
      }
    }
  }
}
