@import "../../styles/theme.scss";
@import "../../styles/fonts";
@import "../../styles/breakpoints";

.nav_component {
  position: fixed;
  display: flex;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  padding: 12px 55px;
  align-items: center;
  background-color: $white;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 1px 0 rgb(0 0 0 / 10%);
  @include landscape {
    padding: 15px;
  }
  @include tablet {
    padding: 1rem 0.5rem;
    background-color: $white !important;
    justify-content: space-between;
  }
  .nav_header {
    display: flex;
    align-items: center;
    flex: 1;
    @include tablet {
      flex: initial;
      order: 2;
    }
    img {
      height: 40px;
      @include tablet {
        height: 30px;
      }
    }
    @include landscape {
      margin-left: 0;
    }
  }
  .content {
    margin-right: 2%;
    flex: 2;
    display: flex;
    justify-content: space-between;
    @include tablet {
      margin-right: 0;
      flex: initial;
      order: 3;
    }
    .search {
      padding: 5px;
      padding-left: 15px;
      border-radius: $border-radius;
      border: 1px solid $text-fade;
      display: flex;
      align-items: center;
      gap: 1rem;
      width: 50%;
      input {
        font-family: $Poppins;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        color: $text;
        border: none;
        outline: none;
        width: 100%;
        &::placeholder {
          color: $text-fade;
        }
      }
      button {
        all: unset;
        background-color: $primary;
        border-radius: $border-radius;
        text-align: center;
        padding: 5px 15px;
        cursor: pointer;
        color: $white;
        font-family: $Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
      }
    }
    .right {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-family: $Poppins;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: $text;
      @include tablet {
        gap: 0.6rem;
      }
      img {
        @include tablet {
          width: 20%;
        }
      }
      button {
        all: unset;
        border: 1px solid $text-fade;
        background-color: transparent;
        border-radius: $border-radius;
        display: flex;
        align-items: center;
        gap: 0.8rem;
        padding: 6px;
        cursor: pointer;
        @include tablet {
          border: none;
        }
      }
      .cart {
        all: unset;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
      }
    }
  }
}
