@import "../../styles/theme.scss";
@import "../../styles/fonts";
@import "../../styles/breakpoints";

@media screen and (min-width: 600px) {
  .page404__img1 {
    display: none;

  }

  .page404__img2 {
    display: none;
  }
} 

.page404 {
  display: flex;
  width: 100%;
  height: 120vh;
  overflow: hidden;
  position: relative;
  background-image: url("../../assets/Images/others/page404_background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include mobile {
    background-image: none;
    position: relative;
    height: 64.25rem;
  }

  &__mobile {
    
    width: 100vh;
    height: 18.8125rem;
    display: flex;
    position: absolute;
    top: 45.4375rem;
    background-size: cover;
    background-image: url("../../assets/Images/others/Frame 139.png");
    bottom: 6.25rem;
    margin-bottom: 0;



  

    
  }
  &__header {
    display: flex;
    width: 30%;
    height: auto;
    flex-direction: column;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 20%;
    gap: 1.875rem;

    @include mobile {
      width: max;
    }

    &__errText {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 0.625rem;

      @include mobile {
        width: max;
        align-items: center;
        justify-content: center;
        margin-top: -1.875rem;

      }
 

      > h1 {
        font-family: $Poppins;
        font-style: normal;
        font-weight: 700;
        font-size: 4.5rem;
        line-height: 4.5rem;
        color: $black;
        

        @include mobile {
          align-self: center;
          margin-left: 16rem;
          margin-right: 0rem;
          font-size: 6rem;
        }
      }

      > h2 {
        font-family: $Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 1.875rem;
        color: $black;

        @include mobile {
          width: 100vw;
          margin-left: 15rem;
          text-align: center;
          font-size: 1.125rem;
          margin-right: 0.3rem
          ;
              }
      }
    }

    > button {
      display: flex;
      width: fit-content;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0.625rem 1.25rem;
      gap: 0.625rem;
      background: $black;
      border-radius: 0.3125rem;
      font-family: $Poppins;
      font-style: normal;
      font-weight: 700;
      font-size: 1rem;
      line-height: 1.5rem;
      color: $white;
      flex: none;
      order: 1;
      flex-grow: 0;

      @include mobile {
        align-self: center;
        width: 19rem;
        margin-left: 14rem;
      }
    }
  }

  &__img1 {
    @include mobile {
      width: 50%;
      position: absolute;
      top: 47.5rem;
      z-index: 2;
      left: 11.25rem;
    }
  }

  &__img2 {
    @include mobile {
      width: 50%;
      position: absolute;
      top: 37.5rem;
      z-index: 2;
    }
  }
}

