@import "../../styles/theme.scss";
@import "../../styles/fonts";
@import "../../styles/breakpoints";


.helpmenu {
    display: flex;
    flex-direction: column;
    height: 35.02rem;
    width: auto;
    background: $white;
    border-radius: 10px;

    
&_header {
    display: flex;
    width: 842px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 1px solid $border;
 
}

 & .helpmenu_body__chat {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 14px;
    gap: 10px;

    background: #FFFFFF;
    border: 1px solid #C5C5C5;
    border-radius: 5px;
 }
& .helpmenu_body__input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 14px;
    gap: 10px;

    background: #000000;
    border-radius: 5px;

    
    & button {
        
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: center;
    //     align-items: center;
    //     padding: 10px 14px;
    //     gap: 10px;
    
    //     width: 132px;
    //     height: 41px;
    //     left: 32px;
    //     top: 450px;
    
        background: #000000;
    //     border-radius: 5px;
    }

    }
}




