@import "../../styles/theme.scss";
@import "../../styles/fonts";
@import "../../styles/breakpoints";


.helpmenu {
    box-sizing: border-box;
    position: absolute;
    width: 842px;
    height: 523px;
    left: 436px;
    top: 120px;
    background: #FFFFFF;
    border-radius: 10px;

//     & h2 {
//         position: absolute;
//     width: 109px;
//     height: 24px;
//     left: 32px;
//     top: 16px;

//     font-family: 'Poppins';
//     font-style: normal;
//     font-weight: 600;
//     font-size: 16px;
//     line-height: 24px;
// /* identical to box height */


// color: #333333;
//     }
    
& .helpmenu_header {
    position: absolute;
    width: 842px;
    height: 1px;
    left: 0px;
    top: 56px;

background: #E0E0E0;
    // border-bottom: 1px solid #c5c5c5;
    margin: auto;
}

 & .helpmenu_body__chat {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 14px;
    gap: 10px;

    position: absolute;
    width: 778px;
    height: 89px;
    left: 32px;
    top: 345px;

    background: #FFFFFF;
    border: 1px solid #C5C5C5;
    border-radius: 5px;
 }
& .helpmenu_body__input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 14px;
    gap: 10px;

    position: absolute;
    width: 132px;
    height: 41px;
    left: 32px;
    top: 450px;

    background: #000000;
    border-radius: 5px;

    & button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 14px;
        gap: 10px;
    
        position: absolute;
        width: 132px;
        height: 41px;
        left: 32px;
        top: 450px;
    
        background: #000000;
        border-radius: 5px;
    }

    }
}




