@import "../../styles/theme.scss";
@import "../../styles/fonts";
@import "../../styles/breakpoints";

.Newsletter {
  background-color: $white;
  height: 400px;
  display: flex;
  justify-content: center;
  margin: auto;
  @include tablet {
    padding: 0 1.5rem;
  }
  .wrapper {
    padding: 2rem;
    border-radius: $border-radius;
    border: 1px solid $text-fade;
    background-color: $white;
    margin: auto;
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    @include tablet {
      width: auto;
      padding: 1rem;
    }
    .title {
      font-family: $Poppins;
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      line-height: 45px;
      text-align: center;
      color: $text;
      @include tablet {
        font-size: 18px;
        line-height: 27px;
      }
    }
    .text {
      font-family: $Poppins;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
      width: 90%;
      color: $text;
      @include tablet {
        width: 100%;
      }
    }
  }
}
.subscribe {
  padding: 5px;
  padding-left: 15px;
  border-radius: $border-radius;
  border: 1px solid $text-fade;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 85%;
  input {
    font-family: $Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: $text;
    border: none;
    outline: none;
    width: 100%;
    @include tablet {
      font-size: 14px;
      line-height: 20px;
    }
    &::placeholder {
      color: $text-fade;
    }
  }
  button {
    all: unset;
    background-color: $primary;
    border-radius: $border-radius;
    text-align: center;
    padding: 5px 15px;
    cursor: pointer;
    color: $white;
    font-family: $Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    @include tablet {
      padding: 5px;
    }
    .mobile,
    .desktop {
      gap: 0.5rem;
      align-items: center;
    }
    .mobile {
      display: none;
      @include tablet {
        display: flex;
      }
    }
    .desktop {
      display: flex;
      @include tablet {
        display: none;
      }
    }
  }
}
