@import "../../styles/theme.scss";
@import "../../styles/fonts";
@import "../../styles/breakpoints";

.authmodal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
  gap: 24px;
  background: $white;
  border-radius: 10px;
  z-index: 1;
  width: auto;
  height: auto;
}

.authmodal_title {
  display: flex;
  width: 382px;
  height: 46px;
  background: $white;
  align-items: flex-start;
  justify-content: center;

  > h1 {
    font-family: $Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    margin-left: 9rem;
  }

  > button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    margin-right: 1rem;
    position: absolute;
    left: calc(85% + 6px);
  }
}
.auth_continue_btn {
  font-family: $Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  background-color: $black;
  color: $white;
  padding: 10px 0;
  border-radius: 5px;
}
.authmodal_options {
  display: flex;
  gap: 70px;
  align-items: center;
  .authmodal_registerbtn {
    all: unset;
    cursor: pointer;
    color: $black;
    font-family: $Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
  }
  .authmodal_loginbtn {
    all: unset;
    cursor: pointer;
    color: $black;
    font-family: $Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
  }
}

.registermodal {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;

  > form {
    display: flex;
    flex-direction: column;
    width: 100%;

    > button {
      width: 100%;
    }
  }
}
